In [1]:
# multi-index -> object in Pandas
#

In [2]:
import numpy as np
import pandas as pd

### Series is 1D and DataFrames are 2D objects.

- But Why?
- And what is index?

In [4]:
index_val  = [('California', 2000), ('California', 2010),
 ('New York', 2000), ('New York', 2010),
 ('Texas', 2000), ('Texas', 2010)]

# create a multi-index series with country and year and their populations

populations = [33871648, 37253956,18976457, 19378102,20851820, 25145561]

a = pd.Series(populations, index=index_val)
a

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [6]:
# the problem is that ->
# as we can not consider country name without year as a key 
# both are dependent to each other
a['California']

KeyError: 'California'

In [9]:
# The Solution -> USe Multiindex Series (also known as Hierarchical Indexing)
# multiple index levels within a singe class 
# use pd.Multiindex.from_tuples("var_name")

index_val  = [('California', 2000), ('California', 2010),
 ('New York', 2000), ('New York', 2010),
 ('Texas', 2000), ('Texas', 2010)]

multiindex = pd.MultiIndex.from_tuples(index_val)
multiindex

# this decouple country and year

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [8]:
multiindex.levels

FrozenList([['California', 'New York', 'Texas'], [2000, 2010]])

In [11]:
# pd.Multiindex.from_product()

pd.MultiIndex.from_product([['California','New York','Texas'],[2000, 2010]])

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [18]:
# series using object 

s = pd.Series([33871648, 37253956,18976457, 19378102,20851820, 25145561], index = multiindex)
s

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [22]:
# how to fectch items from such a series
s['California']

2000    33871648
2010    37253956
dtype: int64

In [26]:
# dimesion of this multiindex series -> 2D 
# how to ocnvert the multiindex deries in to data frame 
temp = s.unstack()
temp

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [27]:
type(temp)

pandas.core.frame.DataFrame

In [28]:
# why multiindex series , as data frame can handle all of this 

# ans -> here we have represent higher dim data intoi lower dimension

In [30]:
# 3D(number of information given to find one thing )
#  data in Dta frame ( as Data Frame is 2d)

In [35]:
branch_df1 = pd.DataFrame(
    [
        [1,2],
        [3,4],
        [5,6],
        [7,8],
        [9,10],
        [11,12]
      
    ],
    index = multiindex,
    columns = ['avg_pacakge','studnets']
)

In [36]:

branch_df1

                 avg_pacakge  studnets
California 2000            1         2
           2010            3         4
New York   2000            5         6
           2010            7         8
Texas      2000            9        10
           2010           11        12

In [37]:
branch_df1.shape

(6, 2)

In [38]:
# 
branch_df1.loc['California']

      avg_pacakge  studnets
2000            1         2
2010            3         4