### Pandas

In [1]:
# pandas -> It is fast powerful tool , use for data analysis and manipulation

In [2]:
# importing pandas 
import numpy as np
import pandas as pd

### Series from lists

In [3]:
# series
country = ['India','Pakustan','USA','Canada']
pd.Series(country)
# series -> index and its values 
# in pandas, string is called as strings in almost all of the cases

0       India
1    Pakustan
2         USA
3      Canada
dtype: object

In [4]:
# integer type series
runs = [12,34,56,78,77]
pd.Series(runs)

0    12
1    34
2    56
3    78
4    77
dtype: int64

In [5]:
# custom Index -> Generate index of your own 
marks = [44,55,66,77]
subjects = ['Math','Science','Hindi','English']
pd.Series(marks,index=subjects)

Math       44
Science    55
Hindi      66
English    77
dtype: int64

In [6]:
# setting a name for a series object ->
# name = ''
pd.Series(marks,index=subjects,name='Harsh marks')

Math       44
Science    55
Hindi      66
English    77
Name: Harsh marks, dtype: int64

### Series from Dict

In [7]:
marks = {
    'math':55,
    'english':66,
    'science':88,
    'hindi':99
}
marks_series = pd.Series(marks,name='Harsh Marks')
marks_series

math       55
english    66
science    88
hindi      99
Name: Harsh Marks, dtype: int64

In [8]:
# in this we are creating object of sereies class

### Series Attributes

In [9]:
 # size -> number of items in series
marks_series.size

4

In [10]:
# dtye -> data type
marks_series.dtype

dtype('int64')

In [11]:
# name attribute ->
marks_series.name

'Harsh Marks'

In [12]:
## is_unique
marks_series.is_unique # all unique value , no repetetion

True

In [13]:
#index -> all index ( range object from (0 to ...))
marks_series.index

Index(['math', 'english', 'science', 'hindi'], dtype='object')

In [14]:
# value 
marks_series.values

array([55, 66, 88, 99])

### series using read_csv

In [15]:
# csv -> comma separated value

In [16]:
# there is a dta of a yt channel , subst=criber gained in duration of a year.
# convert this into series.

In [20]:
type(pd.read_csv('subs.csv')) # but this data is not in series form 
# it is in dataFrame type

pandas.core.frame.DataFrame

In [26]:
# to convert it into series 
# use squeez=True
subs = pd.read_csv('subs.csv').squeeze("columns")
subs
# it will show first 5 and last 5 rows

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [29]:
# import Kohli_ipl runs data sets.
# in two rows column use index_col
vk =pd.read_csv('kohli_ipl.csv', index_col='match_no').squeeze("columns")
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [36]:
# import data set of bollywood movies -> and their male actor

movies = pd.read_csv('bollywood.csv',index_col='movie').squeeze("columns")
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

### Series Method
- for data analysis

In [31]:
# head -> find top five rows from the data
subs.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [32]:
# can fetch any number of rows
vk.head(5)

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [33]:
# tail -> last 5 rows
vk.tail()

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [34]:
# last 10 match of kohli ->
vk.head(10)

match_no
1      1
2     23
3     13
4     12
5      1
6      9
7     34
8      0
9     21
10     3
Name: runs, dtype: int64

In [ ]:
# sample -> fetch one row randomly from the data 
movies.sample() # one random movie

movie
B.A. Pass    Shadab Kamal
Name: lead, dtype: object

In [39]:
#  value_counts -> each item frequency

In [ ]:
# from movie data set find the number of movies done of each number

movies.value_counts()
# give decending order

lead
Akshay Kumar            48
Amitabh Bachchan        45
Ajay Devgn              38
Salman Khan             31
Sanjay Dutt             26
                        ..
Tanishaa Mukerji         1
Tanuja                   1
Ankit                    1
Rakhee Gulzar            1
Geetika Vidya Ohlyan     1
Name: count, Length: 566, dtype: int64

In [41]:
# sort_values -> sort value
# find highest score of value
vk.sort_values()

match_no
8        0
87       0
93       0
91       0
206      0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [46]:
# in descending order
vk.sort_values(ascending=False).head(1).values[0]
# does not do changes in original data set 
# if want to change in original -> use inplace=True

np.int64(113)

In [47]:
# sort_index -> inplace -> movies
# in movie series , name is organized , 
# sort movie name
movies.sort_index()

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

### Series Maths Methods

In [48]:
# count -> number of rows ( total number of item , excluding missing values)
vk.count()

np.int64(215)

In [49]:
# sum -> 
# total nu,ber of subs gained
subs.sum()

np.int64(49510)

In [50]:
# mean -> 
# mean subs gained on daily basis
subs.mean()

np.float64(135.64383561643837)

In [51]:
# mode -> most reoccuring value
print(movies.mode())

0    Akshay Kumar
Name: lead, dtype: object

In [52]:
# standard deviation and variance ->

In [53]:
# min -> 
# minimum number of subs in a day
subs.min()

np.int64(33)

In [54]:
subs.max()

np.int64(396)

In [55]:
# describe -> summary of multiple things 
vk.describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

### Series Indexing

In [56]:
# in given series -> find item from series using indexing

In [57]:
# Integer indexing 
x = pd.Series([12,23,44,5,6,7,8,88])
x[1]

np.int64(23)

In [58]:
# do not work on negative indexing

In [59]:
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [60]:
movies[0]

C:\Users\harsh\AppData\Local\Temp\ipykernel_10648\3901301928.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  movies[0]

'Vicky Kaushal'

In [61]:
movies[-1]

C:\Users\harsh\AppData\Local\Temp\ipykernel_10648\2731571422.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  movies[-1]

'Akshay Kumar'

In [62]:
## slicing -> fetch multiple items
# virat 5-25 match runs
vk[5:16]

match_no
6      9
7     34
8      0
9     21
10     3
11    10
12    38
13     3
14    11
15    50
16     2
Name: runs, dtype: int64

In [63]:
vk[-5:]

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [64]:
movies[-5:] # last 5 movies

movie
Hum Tumhare Hain Sanam      Shah Rukh Khan
Aankhen (2002 film)       Amitabh Bachchan
Saathiya (film)               Vivek Oberoi
Company (film)                  Ajay Devgn
Awara Paagal Deewana          Akshay Kumar
Name: lead, dtype: object

In [65]:
# fancy index
# vk match 1 ,3, 5 match
vk[[1,3,5]]

match_no
1     1
3    13
5     1
Name: runs, dtype: int64