### Pandas

In [1]:
# pandas -> It is fast powerful tool , use for data analysis and manipulation

In [2]:
# importing pandas 
import numpy as np
import pandas as pd

### Series from lists

In [3]:
# series
country = ['India','Pakustan','USA','Canada']
pd.Series(country)
# series -> index and its values 
# in pandas, string is called as strings in almost all of the cases

0       India
1    Pakustan
2         USA
3      Canada
dtype: object

In [4]:
# integer type series
runs = [12,34,56,78,77]
pd.Series(runs)

0    12
1    34
2    56
3    78
4    77
dtype: int64

In [5]:
# custom Index -> Generate index of your own 
marks = [44,55,66,77]
subjects = ['Math','Science','Hindi','English']
pd.Series(marks,index=subjects)

Math       44
Science    55
Hindi      66
English    77
dtype: int64

In [6]:
# setting a name for a series object ->
# name = ''
pd.Series(marks,index=subjects,name='Harsh marks')

Math       44
Science    55
Hindi      66
English    77
Name: Harsh marks, dtype: int64

### Series from Dict

In [7]:
marks = {
    'math':55,
    'english':66,
    'science':88,
    'hindi':99
}
marks_series = pd.Series(marks,name='Harsh Marks')
marks_series

math       55
english    66
science    88
hindi      99
Name: Harsh Marks, dtype: int64

In [8]:
# in this we are creating object of sereies class

### Series Attributes

In [9]:
 # size -> number of items in series
marks_series.size

4

In [10]:
# dtye -> data type
marks_series.dtype

dtype('int64')

In [11]:
# name attribute ->
marks_series.name

'Harsh Marks'

In [12]:
## is_unique
marks_series.is_unique # all unique value , no repetetion

True

In [13]:
#index -> all index ( range object from (0 to ...))
marks_series.index

Index(['math', 'english', 'science', 'hindi'], dtype='object')

In [14]:
# value 
marks_series.values

array([55, 66, 88, 99])

### series using read_csv

In [15]:
# csv -> comma separated value

In [16]:
# there is a dta of a yt channel , subst=criber gained in duration of a year.
# convert this into series.

In [20]:
type(pd.read_csv('subs.csv')) # but this data is not in series form 
# it is in dataFrame type

pandas.core.frame.DataFrame

In [26]:
# to convert it into series 
# use squeez=True
subs = pd.read_csv('subs.csv').squeeze("columns")
subs
# it will show first 5 and last 5 rows

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [29]:
# import Kohli_ipl runs data sets.
# in two rows column use index_col
vk =pd.read_csv('kohli_ipl.csv', index_col='match_no').squeeze("columns")
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [36]:
# import data set of bollywood movies -> and their male actor

movies = pd.read_csv('bollywood.csv',index_col='movie').squeeze("columns")
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

### Series Method
- for data analysis

In [31]:
# head -> find top five rows from the data
subs.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [32]:
# can fetch any number of rows
vk.head(5)

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [33]:
# tail -> last 5 rows
vk.tail()

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [34]:
# last 10 match of kohli ->
vk.head(10)

match_no
1      1
2     23
3     13
4     12
5      1
6      9
7     34
8      0
9     21
10     3
Name: runs, dtype: int64

In [ ]:
# sample -> fetch one row randomly from the data 
movies.sample() # one random movie

movie
B.A. Pass    Shadab Kamal
Name: lead, dtype: object

In [39]:
#  value_counts -> each item frequency

In [ ]:
# from movie data set find the number of movies done of each number

movies.value_counts()
# give decending order

lead
Akshay Kumar            48
Amitabh Bachchan        45
Ajay Devgn              38
Salman Khan             31
Sanjay Dutt             26
                        ..
Tanishaa Mukerji         1
Tanuja                   1
Ankit                    1
Rakhee Gulzar            1
Geetika Vidya Ohlyan     1
Name: count, Length: 566, dtype: int64

In [41]:
# sort_values -> sort value
# find highest score of value
vk.sort_values()

match_no
8        0
87       0
93       0
91       0
206      0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [46]:
# in descending order
vk.sort_values(ascending=False).head(1).values[0]
# does not do changes in original data set 
# if want to change in original -> use inplace=True

np.int64(113)

In [ ]:
# sort_index ->