### Pandas

In [1]:
# pandas -> It is fast powerful tool , use for data analysis and manipulation

In [3]:
# importing pandas 
import numpy as np
import pandas as pd

### Series from lists

In [6]:
# series
country = ['India','Pakustan','USA','Canada']
pd.Series(country)
# series -> index and its values 
# in pandas, string is called as strings in almost all of the cases

0       India
1    Pakustan
2         USA
3      Canada
dtype: object

In [7]:
# integer type series
runs = [12,34,56,78,77]
pd.Series(runs)

0    12
1    34
2    56
3    78
4    77
dtype: int64

In [10]:
# custom Index -> Generate index of your own 
marks = [44,55,66,77]
subjects = ['Math','Science','Hindi','English']
pd.Series(marks,index=subjects)

Math       44
Science    55
Hindi      66
English    77
dtype: int64

In [11]:
# setting a name for a series object ->
# name = ''
pd.Series(marks,index=subjects,name='Harsh marks')

Math       44
Science    55
Hindi      66
English    77
Name: Harsh marks, dtype: int64

### Series from Dict

In [12]:
marks = {
    'math':55,
    'english':66,
    'science':88,
    'hindi':99
}
marks_series = pd.Series(marks,name='Harsh Marks')
marks_series

math       55
english    66
science    88
hindi      99
Name: Harsh Marks, dtype: int64

In [13]:
# in this we are creating object of sereies class

### Series Attributes

In [14]:
 # size -> number of items in series
marks_series.size

4

In [15]:
# dtye -> data type
marks_series.dtype

dtype('int64')

In [16]:
# name attribute ->
marks_series.name

'Harsh Marks'

In [19]:
## is_unique
marks_series.is_unique # all unique value , no repetetion

True

In [21]:
#index -> all index ( range object from (0 to ...))
marks_series.index

Index(['math', 'english', 'science', 'hindi'], dtype='object')

In [22]:
# value 
marks_series.values

array([55, 66, 88, 99])

### series using read_csv

In [23]:
# csv -> comma separated value

In [24]:
# there is a dta of a yt channel , subst=criber gained in duration of a year.
# convert this into series.

In [ ]:
pd.read_csv()