### Pandas

In [1]:
# pandas -> It is fast powerful tool , use for data analysis and manipulation

In [3]:
# importing pandas 
import numpy as np
import pandas as pd

### Series from lists

In [6]:
# series
country = ['India','Pakustan','USA','Canada']
pd.Series(country)
# series -> index and its values 
# in pandas, string is called as strings in almost all of the cases

0       India
1    Pakustan
2         USA
3      Canada
dtype: object

In [7]:
# integer type series
runs = [12,34,56,78,77]
pd.Series(runs)

0    12
1    34
2    56
3    78
4    77
dtype: int64

In [10]:
# custom Index -> Generate index of your own 
marks = [44,55,66,77]
subjects = ['Math','Science','Hindi','English']
pd.Series(marks,index=subjects)

Math       44
Science    55
Hindi      66
English    77
dtype: int64

In [11]:
# setting a name for a series object ->
# name = ''
pd.Series(marks,index=subjects,name='Harsh marks')

Math       44
Science    55
Hindi      66
English    77
Name: Harsh marks, dtype: int64